{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<br>
    <hr>
    <!-- Field for the name -->
     <!--code for adding the image, make sure the image is stored at the right place-->
    <img   width="50%" height="50%" src="{% static 'images/goose.png' %}" />
    <br>


    
<p><b>How much does this look like a goose?</b></p>
<input type="radio" name="goose" value="1" /> 1
<br>
<input type="radio" name="goose" value="2" /> 2
<br>
<input type="radio" name="goose" value="3" /> 3
<br>
<input type="radio" name="goose" value="4" /> 4
<br>
<input type="radio" name="goose" value="5" /> 5
<br>
<br>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>
</button>

{% endblock %}