{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
<script>
    window.onload = function () {

    var screenout = {{ screenout }}; //screenout boolean
    var quota= {{ quota }}; //quota boolean
    var label = {{ participant_label }}; //m or tic number

    var url_screenout = "/static/images/ScreenoutScreen.html";
    var url_quota = "/static/images/QuotaFullScreen.html";

    if (screenout==1) {window.location.replace(url_screenout);}
    if (quota==1) {window.location.replace(url_quota);}
    }
</script>


{% endblock %}



{% block title %}
{% endblock %}

{% block content %}

<div>Nothing to see here. These are not the droids your looking for. Please move along.</div>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}